<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gimnasio SystemGym - Inicio de Sesión</title>
    <link rel="stylesheet" href="/css/styles.css"> </head>
<body>
<div class="container">
    <h1>Bienvenido a SystemGym</h1>
    <p>Por favor, inicia sesión.</p>
    <a href="/admin/dashboard">Ir al Dashboard Admin (temporal)</a>
</div>
<script src="/js/main.js"></script> </body>
</html>